<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{- site.title | escape -}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{- site.description | escape -}}">
<meta name="author" content="{{- site.author | escape -}}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="search" type="application/opensearchdescription+xml" href="https://coderic.net/opensearch.xml" title="Twitter">
{%- include seo.html -%}
{%- seo -%}
{%- if site.google_analytics -%}
{%- include analytics-google.html -%}
{%- endif -%}
{%- if site.facebook.app_id -%}
{%- include analytics-facebook.html -%}
{%- endif -%}
<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Open+Sans:400,300,600,700" media="screen" rel="stylesheet" type="text/css">
<link href="https://coderic.net/assets/coderic/style.css" media="screen" rel="stylesheet" type="text/css">
<link href="https://coderic.net/assets/coderic/css/retina.css" media="only screen and (-webkit-min-device-pixel-ratio: 2)" rel="stylesheet" type="text/css">
<link href="https://coderic.net/assets/coderic/css/tipsy.css" media="screen" rel="stylesheet" type="text/css">
<link href="https://coderic.net/assets/coderic/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
<link href="https://coderic.net/assets/coderic/css/font-awesome.css" media="screen" rel="stylesheet" type="text/css">
<link href="https://coderic.net/assets/coderic/css/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css">
<link href="https://coderic.net/assets/coderic/css/rs/css/rs-settings.css" media="screen" rel="stylesheet" type="text/css">
<link href="https://coderic.net/assets/coderic/css/responsive.css" media="screen" rel="stylesheet" type="text/css">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="alternate" type="application/rss+xml" title="Siteleaf: Blog (RSS)" href="/feed.xml" />
<!--[if lt IE 9]>
    <script src="/assets/coderic/js/css3-mediaqueries.js"></script>
<![endif]-->
<script src="https://coderic.net/assets/coderic/js/jquery.js"></script>
<script src="https://coderic.net/assets/coderic/js/plugins.js"></script>
<script src="https://coderic.net/assets/coderic/js/jquery.themepunch.plugins.js"></script>
<script src="https://coderic.net/assets/coderic/js/jquery.themepunch.revolution.js"></script>
