<div id="primary-menu">
    <nav>
        <ul id="main-menu">
            <li class="current"><a href="#"><div>Titulo</div><span>Subtitulo</span></a>
                <ul>
                    <li><a href="#"><div>Menu</div></a></li>
                    <li><a href="#"><div>Menu</div></a>
                        <ul>
                            <li><a href="#"><div>Menu</div></a> </li>
                            <li><a href="#"><div>Menu</div></a>

                                <ul>
                                    <li><a href="#"><div>Menu</div></a></li>
                                    <li><a href="#"><div>Menu</div></a></li>
                                    <li><a href="#"><div>Menu</div></a></li>
                                    <li><a href="#"><div>Menu</div></a></li>
                                </ul>

                            </li>
                            <li><a href="#"><div>Menu</div></a>

                                <ul>
                                    <li><a href="#"><div>Menu</div></a></li>
                                    <li><a href="#"><div>Menu</div></a></li>
                                    <li><a href="#"><div>Menu</div></a></li>
                                    <li><a href="#"><div>Menu</div></a></li>
                                </ul>

                            </li>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Menu</div></a></li>
                </ul>
            </li>
            <li>
                <a href="#"><div>Titulo</div><span>Subtitulo</span></a>
                <ul>
                    <li><a href="#"><div>Menu</div></a></li>
                    <li><a href="#"><div>Menu</div></a>
                        <ul>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Menu</div></a>
                        <ul>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Menu</div></a>
                        <ul>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Menu</div></a>
                        <ul>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Menu</div></a>
                        <ul>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                            <li><a href="#"><div></i> Submenu</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Menu</div></a></li>
                    <li><a href="#"><div>Menu</div></a>
                        <ul>
                            <li><a href="#"><div>Menu</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Menu</div></a></li>
                </ul>
            </li>
            <li><a href="#"><div>Titulo</div><span>Subtitulo</span></a>
                <ul>
                    <li><a href="#"><div>Menu</div></a>
                        <ul>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                        </ul>
                    </li>

                    <li><a href="#"><div>Menu</div></a></li>
                    <li><a href="#"><div>Menu</div></a></li>
                    <li><a href="#"><div>Menu</div></a>
                        <ul>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Menu</div></a>
                        <ul>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#"><div>Titulo</div><span>Subtitulo</span></a></li>
        </ul>
    </nav>
</div>