<div id="primary-menu">
    <nav>
        <ul id="main-menu">
            <li><a href="/Billing/"><div>Facturación electrónica</div></a>
                <ul>
                    <li><a href="#"><div>Aplicaciones</div></a>
                        <ul>
                            <li><a href="/MagentoBilling/"><div>Magento</div></a></li>
                            <li><a href="/PrestaShopBilling/"><div>PrestaShop</div></a></li>
                            <li><a href="/OsCommerceBilling/"><div>OsCommerce</div></a></li>
                            <li><a href="/WooCommerceBilling/"><div>WooCommerce</div></a></li>
                            <li><a href="/WHMCSBilling/"><div>WHMCS</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Frameworks</div></a>
                        <ul>
                            <li><a href="/LaravelBilling/"><div>Laravel</div></a></li>
                            <li><a href="/YiiBilling/"><div>Yii</div></a></li>
                            <li><a href="/SymfonyBilling/"><div>Symfony2</div></a></li>
                            <li><a href="/ZendFrameworkBilling/"><div>Zend Framework</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>SDK's</div></a>
                        <ul>
                            <li><a href="#"><div>composer</div></a></li>
                            <li><a href="#"><div>npm</div></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/Payments/"><div>Pagos</div></a>
                <!--ul>
                    <li><a href="#"><div>Menu</div></a></li>
                    <li><a href="#"><div>Menu</div></a></li>
                    <li><a href="#"><div>Menu</div></a></li>
                    <li><a href="#"><div>Menu</div></a></li>
                    <li><a href="#"><div>Menu</div></a></li>
                </ul-->
            </li>
            <li><a href="/Authentication/"><div>Autenticación</div></a></li>
            <!--li><a href="/Payments"><div>Menu</div></a>
                <ul>
                    <li><a href="#"><div>Menu</div></a> </li>
                    <li><a href="#"><div>Menu</div></a>

                        <ul>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                        </ul>

                    </li>
                    <li><a href="#"><div>Menu</div></a>

                        <ul>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                            <li><a href="#"><div>Menu</div></a></li>
                        </ul>

                    </li>
                    <li><a href="#"><div>Menu</div></a></li>
                    <li><a href="#"><div>Menu</div></a></li>
                    <li><a href="#"><div>Menu</div></a></li>
                </ul>
            </li-->
        </ul>
    </nav>
</div>
