<ul>
    <li class="ts-facebook"><a href="#"><div class="ts-icon"></div><div class="ts-text">Facebook</div></a></li>
    <li class="ts-twitter"><a href="#"><div class="ts-icon"></div><div class="ts-text">Twitter</div></a></li>
    <li class="ts-gplus"><a href="#"><div class="ts-icon"></div><div class="ts-text">Google+</div></a></li>
    <li class="ts-linkedin"><a href="#"><div class="ts-icon icon-linkedin"></div><div class="ts-text">LinkedIn</div></a></li>
    <li class="ts-youtube"><a href="#"><div class="ts-icon"></div><div class="ts-text">Youtube</div></a></li>
    <li class="ts-rss"><a href="#"><div class="ts-icon"></div><div class="ts-text">RSS</div></a></li>
    <li class="ts-vimeo"><a href="#"><div class="ts-icon"></div><div class="ts-text">Vimeo</div></a></li>
    <li class="ts-phone"><a href="tel:+585002633742"><div class="ts-icon"></div><div class="ts-text">0500CODERIC</div></a></li>
    <li class="ts-mail"><a href="mailto:info@coderic.co.ve"><div class="ts-icon"></div><div class="ts-text">info@coderic.co.ve</div></a></li>
</ul>