
<div class="widget portfolio-widget clearfix">
    <h4>Acerca de Coderic</h4>
    <p>Corporacion Orientada al Desarrollo Estratégico de Recursos de Información Comercial</p>
    <ul style="font-size: 13px;">
        <li class="icon-home">Coderic, S.A. J-40041628-0</li>
        <li class="icon-map-marker">Urb Diego I Calle 1 Casa 20<br />Valencia, Carabobo, Venezuela</li>
        <li class="icon-phone"><a href="tel:+585002633742">0500-CODERIC <br/>0500-263-3742</a></li>
        <li class="icon-envelope-alt"><a href="mailto:info@coderic.co.ve">info@coderic.co.ve</a></li>
    </ul>
</div>