
<div class="widget portfolio-widget clearfix">
    <h4>Acerca de Coderic</h4>
    <p>{{- site.description | escape -}}</p>
    <p>{{- site.description | escape -}}</p>
    <ul style="font-size: 13px;">
        <li class="icon-copy">Coderic, S.A. J-40041628-0</li>
        <!--li class="icon-map-marker">Urb Diego I Calle 1 Casa 20<br />Valencia, Carabobo, Venezuela</li-->
        {%- if site.phone -%}
        <li class="icon-phone"><a href="tel:+585002633742">{{ site.phone }} <br/>{{- site.fax | escape -}}</a></li>
        {%- endif -%}
        {%- if site.email -%}
        <li class="icon-envelope-alt"><a href="mailto:{{ site.email }}">{{- site.email | escape -}}</a></li>
        {%- endif -%}
    </ul>
</div>