
<div class="widget portfolio-widget clearfix">
    <h4>Acerca de Coderic</h4>
    <p>Corporación Orientada al Desarrollo Estratégico de Recursos de Información Comercial</p>
    <ul style="font-size: 13px;">
        <li class="icon-home">Coderic, S.A. J-40041628-0</li>
        <li class="icon-phone"><a href="tel:+585002633742">0500-CODERIC <br/>0500-263-3742</a></li>
        <li class="icon-envelope-alt"><a href="mailto:info@coderic.co.ve">info@coderic.co.ve</a></li>
        <li class="icon-map-marker">
            Urb Diego I, Calle 1, Casa 20, Quinta Coderic<br />
            Valencia 2001, Carabobo, Venezuela<br />
            (En Proceso de Mudanza)
        </li>
    </ul>
    <img class="img-polaroid" src="https://coderic.co.ve/images/ubicacion.jpg" alt="Ubíquenos">
    <img class="img-polaroid" src="https://maps.googleapis.com/maps/api/staticmap?center=10.145097,+-68.035474&zoom=27&scale=2&size=450x350&maptype=satellite&key=AIzaSyBc57DZEpCjCgu-G0OJ7aP3iRv8wcup4MY&format=jpg&visual_refresh=true&markers=icon:https://coderic.co.ve/images/mapicon.png%7Cshadow:true%7CCoderic&signature=ekIOIf9XdrtrcgfnV-4iCUtULtg=" alt="Ubíquenos">
</div>