<div id="linkcat-2" class="widget widget_links clearfix">
    <h4 class="widget-title">Coderic Network</h4>
    <ul class='xoxo blogroll'>
        <li><a href="https://coderic.net/">Coderic, S.A.</a></li>
        <li><a href="https://soporte.coderic.net/">Centro de Soporte</a></li>
        <li><a href="https://tienda.coderic.net/">Tienda</a></li>
    </ul>
    <h4 class="widget-title">Comunidad</h4>
    <ul class='xoxo blogroll'>
        <li><a href="https://dev.coderic.net/">CodericDev</a></li>
        <li><a href="https://coworker.coderic.net/">CoWorker</a></li>
        <li><a href="https://radio.coderic.net/">Radio</a></li>
    </ul>
</div>