<footer>
    <div id="footer" class="footer-dark">
        <div class="container clearfix">
            <div class="footer-widgets-wrap clearfix">
                <!--div class="col_one_fourth">
                    {%- include pie-bloque-1.html -%}
                </div>
                <div class="col_one_fourth">
                    {%- include pie-bloque-2.html -%}
                </div>
                <div class="col_one_fourth">
                    {%- include pie-bloque-3.html -%}
                </div>
                <div class="col_one_fourth">
                    {%- include pie-bloque-4.html -%}
                </div-->
            </div>
        </div>
    </div>
</footer>
