<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Corporation",
  "name": "Coderic, S.A.",
  "alternateName": "Coderic",
  "url": "https://coderic.co.ve",
  "logo": "https://coderic.co.ve/assets/coderic/images/logo43.png",
  "image": "https://coderic.co.ve/assets/coderic/images/logo43.png",
  "email": "info@coderic.co.ve",
  "foundingDate": "2004-09-30",
  "legalName": "Coderic, S.A.",
  "taxID": "J-40041628-0",
  "telephone": "+58 500 2633742",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+58 500 2633742",
    "contactType": "customer service",
    "areaServed": "VE",
    "availableLanguage": "Spanish"
  },{
    "@type": "ContactPoint",
    "telephone": "+58 500 2633742",
    "contactType": "technical support",
    "areaServed": "VE",
    "availableLanguage": "Spanish"
  },{
    "@type": "ContactPoint",
    "telephone": "+58 500 2633742",
    "contactType": "billing support",
    "areaServed": "VE",
    "availableLanguage": "Spanish"
  },{
    "@type": "ContactPoint",
    "telephone": "+58 500 2633742",
    "contactType": "bill payment",
    "areaServed": "VE",
    "availableLanguage": "Spanish"
  },{
    "@type": "ContactPoint",
    "telephone": "+58 500 2633742",
    "contactType": "sales",
    "areaServed": "VE",
    "availableLanguage": "Spanish"
  }],
  "sameAs": [
    "https://www.facebook.com/Coderic.S.A/",
    "https://twitter.com/Coderic",
    "https://plus.google.com/+CodericCoVe",
    "https://www.youtube.com/channel/UCxt5C3lIwVlaKg3zBhs6ztg",
    "https://www.linkedin.com/company/coderic-s-a-/",
    "https://github.com/Coderic"
  ]
}
</script>
