---
layout: default-es
lang: es
---
<article>
    <header id="page-title">
        <div class="container clearfix">
            <h1>{{ page.title | escape }} <span>
                    {%- if page.subtitle -%}
                    / {{ page.subtitle | escape }}
                    {%- endif -%}
                </span></h1>
            <!--div id="top-search">
                <form id="top-search-form" action="/resultados.html" method="get">
                    <input type="text" id="top-search-input" name="q" value="" placeholder="Buscar" />
                </form>
            </div-->
        </div>
    </header>
    <div class="content-wrap">
        <div class="container clearfix">
            {{ content }}
        </div>
    </div>
</article>
